<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>NodeJS Countries Data</title>
</head>
<body>
    <h3>Display Country Data</h3>

    <form action="/countries" method="post">
        <select name="country">
            <option value="Estonia">Estonia</option>
            <option value="Latvia">Latvia</option>
            <option value="Lithuania">Lithuania</option>
        </select>
        <button type="submit">Show Country Data</button>
    </form>

    <h1>Country: <%= countryData.countryName %></h1>
    <div class="divider" id="countryInfo">
        <p>Top Level Domain: <%= countryData.countryTopLevelDomain %></p>
        <p>Calling Dode: <%= countryData.countryCallingCode %></p>
        <p>Capital: <%= countryData.countryCapital %></p>
        <p>Region: <%= countryData.countryRegion %> </p>
        <p>Subregion: <%= countryData.countrySubRegion %></p>
        <p>Population: <%= countryData.countryPopulation %></p>
        <p>Timezone: <%= countryData.countryTimezone %></p>
        <p>Language in English: <%= countryData.countryLanguageInEnglish %></p>
        <p>Currency Code: <%= countryData.countryCurrencyCode %></p>
        <p>Currency Name: <%= countryData.countryCurrencyName %></p>
        <p>Currency Symbol: <%= countryData.countryCurrencySymbol %></p>
    </div>
    <div class="divider" id="countryFlag">
        <img src="<%= countryData.countryFlagUrl %>" alt="Flag" id="flag">
    </div>
    
    
</body>
</html>